{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "better-styled-components",
    "prettier",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "airbnb-typescript",
    "airbnb"
  ],
  "ignorePatterns": [
    "dist"
  ],
  "rules": {
    "no-trailing-spaces": [
      1,
      {
        "skipBlankLines": true
      }
    ],
    // 충돌 방지
    "no-param-reassign": "off",
    "indent": "off",
    "no-alert": "off",
    "no-shadow": "off",
    "no-spaced-func": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-confusing-arrow": "off",
    "no-import-assign": "warn",
    "object-curly-newline": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "operator-linebreak": "off",
    "prefer-const": "off",
    "linebreak-style": 0,
    "function-paren-newline": "off",
    "func-call-spacing": "off",
    "import/no-cycle": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off",
    "react/button-has-type": "off",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-no-constructed-context-values": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/prefer-as-const": "off",
    // import 순서
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ],
        "alphabetize": {
          "order": "desc"
        }
      }
    ],
    // import 확장자 제거
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    // 에러 처리
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "@typescript-eslint/func-call-spacing": [
      "error"
    ],
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "after": true
      }
    ],
    "semi-spacing": "error",
    "quotes": [
      "error",
      "single"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "max-len": "off"
  }
}